.subview-container h2 {
  text-align: center;
  font-size: 32px;
}

.works-title {
  margin-bottom: 10%;
}

.works-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.works-contents > * {
  margin-top: 5em; /* 上部マージン */
  margin-bottom: 5em; /* 下部マージン */
}
